.catalog {
    font-size: small;
    min-width: 20%;
}
.catalog .offcanvas-header{
    color: white;
    background-color: #e5097f;
}

.offcanvas-body {
    background: #e5097f linear-gradient(#e5097f, rgb(0 0 0));
}
.catalog .accordion-item, .accordion-header, .accordion-button.collapsed, .accordion-button{
    color: black;
    background-color: white;
}
.accordion-button:not(.collapsed) {
    color: black !important;
    background-color: rgb(210 199 219) !important;
}
.btn-close {
    color: white !important;
    background: white;
}
@media (max-width: 1200px) {
    .firstTitle {
        font-size: 2vw;
        font-weight: bold;
    }
    .subTitle {
        font-size: 1.5vw;
        color: #1f2326 !important;
    }
}

@media (max-width: 900px) {
    .firstTitle {
        font-size: 3vw;
        font-weight: bold;
    }
    .subTitle {
        font-size: 2vw;
    }
}
@media (max-width: 700px) {
    .firstTitle {
        font-size: 4vw;
        font-weight: bold;
    }
    .subTitle {
        font-size: 4vw;
    }
}
@media (max-width: 395px) {
    .firstTitle {
        font-size: 5vw;
        font-weight: bold;
    }
    .subTitle {
        font-size: 5vw;
    }
}
@media (min-width: 1201px) {
    .firstTitle {
        font-size: 0.9vw;
        font-weight: bold;
    }
    .subTitle {
        font-size: 0.8vw;
    }
}

