.categ .prod-length {
    color: #96a3ae;
    font-size: 14px;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "GTEestiPro",arial,sans-serif;
}