.categ .prod-length {
    color: darkgray;
    font-size: 14px;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "GTEestiPro",arial,sans-serif;
}
.categ, .productscreen-container, .homescreen {
    background: #e5097f linear-gradient(#e5097f, rgb(0 0 0));

}
.categ .subCategory {
    color: lightgray;
}
.categ .breadcrump {
    color: lightgray;
}
.categ .breadcrumb-item.active, .breadcrumb-item.active::before {
    color: darkgray;
}
.category-filter-icon {
    position: fixed;
    z-index: 10000;
    top: 25px;
    right: 12px;
}