@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  #__next {
    @apply h-full;
  }
  html,
  body {
    @apply h-full;
  }
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#layout {
  min-height: 100vh;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.shipping {
  min-height: 68vh;
  position: relative;

}

.shipping .deliveryBadge {
  box-shadow: 10px -5px 5px 1px rgba(0, 0, 0, .5)
}
.shipping .paymentBadge {
  box-shadow: 10px -5px 5px 1px rgba(0, 0, 0, .5)
}
.categ {
  min-height: 68vh;
  position: relative;
}
.categ .old-price {
  color: #707f8d;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  white-space: nowrap;
}
.categ .old-price::before {
  background: var(--bs-red);
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: rotate(-3deg);
  width: 100%;
}
body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
