.fullImage {
    /*position: fixed;*/
    /*z-index:2;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%,-50%);*/
    /*height: 100%;*/
    pointer-events: none;
}

.modal-header .btn-close {
    color: white;
    background-color: #000;
}
.centeredImage {
    display: block;
}
.selectedImage {
    display: table-cell;
    vertical-align:middle;

}