.MRslider {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;


  .slider {
    position: relative;
    width: 200px;
  }

  .slider__track,
  .slider__range,
  .slider__left-value,
  .slider__right-value {
    position: absolute;
  }

  .slider__track,
  .slider__range {
    border-radius: 3px;
    height: 5px;
  }

  .slider__track {
    background-color: #ced4da;
    width: 100%;
    z-index: 1;
  }

  .slider__range {
    background-color: #9fe5e1;
    z-index: 2;
  }

  .slider__left-value,
  .slider__right-value {
    color: #dee2e6;
    font-size: 12px;
    margin-top: 20px;
  }

  .slider__left-value {
    left: 6px;
  }

  .slider__right-value {
    right: -4px;
  }

  /* Removing the default appearance */
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }

  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 200px;
    outline: none;
  }

  .thumb--left {
    z-index: 3;
  }

  .thumb--right {
    z-index: 4;
  }

  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }

  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
}


/*oldone*/
/*.multi-range-slider * {*/
/*    box-sizing: border-box;*/
/*    padding: 0px;*/
/*    margin: 0px;*/
/*}*/
/*.multi-range-slider {*/
/*    display: flex;*/
/*    position: relative;*/
/*    border: solid 1px gray;*/
/*    border-radius: 10px;*/
/*    padding: 20px 10px;*/
/*    box-shadow: 1px 1px 4px black;*/
/*    flex-direction: column;*/
/*    -webkit-touch-callout: none; !* iOS Safari *!*/
/*    -webkit-user-select: none; !* Safari *!*/
/*    -khtml-user-select: none; !* Konqueror HTML *!*/
/*    -moz-user-select: none; !* Old versions of Firefox *!*/
/*    -ms-user-select: none; !* Internet Explorer/Edge *!*/
/*    user-select: none; !* Non-prefixed version, currently supported by Chrome, Edge,*!*/
/*}*/
/*.multi-range-slider .bar {*/
/*    display: flex;*/
/*}*/
/*.multi-range-slider .bar * {*/
/*    transition: all 100ms;*/
/*}*/
/*.multi-range-slider .bar.active * {*/
/*    transition: none;*/
/*}*/
/*.multi-range-slider .bar-left {*/
/*    width: 25%;*/
/*    background-color: #f0f0f0;*/
/*    border-radius: 10px 0px 0px 10px;*/
/*    box-shadow: inset 0px 0px 5px black;*/
/*    padding: 4px 0px;*/
/*}*/
/*.multi-range-slider .bar-right {*/
/*    width: 25%;*/
/*    background-color: #f0f0f0;*/
/*    border-radius: 0px 10px 10px 0px;*/
/*    box-shadow: inset 0px 0px 5px black;*/
/*}*/
/*.multi-range-slider .bar-inner {*/
/*    background-color: lime;*/
/*    display: flex;*/
/*    flex-grow: 1;*/
/*    flex-shrink: 1;*/
/*    justify-content: space-between;*/
/*    position: relative;*/
/*    border: solid 1px black;*/
/*    justify-content: space-between;*/
/*    box-shadow: inset 0px 0px 5px black;*/
/*}*/
/*.multi-range-slider .bar-inner-left {*/
/*    width: 50%;*/
/*}*/
/*.multi-range-slider .bar-inner-right {*/
/*    width: 50%;*/
/*}*/
/*.multi-range-slider .thumb {*/
/*    background-color: red;*/
/*    position: relative;*/
/*    z-index: 1;*/
/*    cursor: pointer;*/
/*}*/
/*.multi-range-slider .thumb::before {*/
/*    content: '';*/
/*    background-color: white;*/
/*    position: absolute;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    border: solid 1px black;*/
/*    box-shadow: 0px 0px 3px black, inset 0px 0px 5px gray;*/
/*    border-radius: 50%;*/
/*    z-index: 1;*/
/*    margin: -8px;*/
/*    cursor: pointer;*/
/*}*/
/*.multi-range-slider .input-type-range:focus + .thumb::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: -4px;*/
/*    left: -4px;*/
/*    width: 11px;*/
/*    height: 11px;*/
/*    z-index: 2;*/
/*    border-radius: 50%;*/
/*    border: dotted 1px black;*/
/*    box-shadow: 0px 0px 5px white, inset 0px 0px 10px black;*/
/*}*/

/*.multi-range-slider .thumb * {*/
/*    position: absolute;*/
/*    bottom: 25px;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    left: -15px;*/
/*    font-size: 75%;*/
/*    text-align: center;*/
/*    line-height: 30px;*/
/*    background-color: blue;*/
/*    border-radius: 50%;*/
/*    color: white;*/
/*    box-shadow: 0px 0px 5px black;*/
/*    display: none;*/
/*}*/
/*.multi-range-slider .thumb:active * {*/
/*    display: block;*/
/*}*/
/*.input-type-range {*/
/*    position: absolute;*/
/*    top: 0px;*/
/*    left: 0px;*/
/*    width: 100%;*/
/*    opacity: 0;*/
/*    pointer-events: none;*/
/*}*/

/*.multi-range-slider .ruler {*/
/*    margin: 10px 0px -5px 0px;*/
/*    display: flex;*/
/*    !* display: none; *!*/
/*}*/
/*.multi-range-slider .ruler .ruler-rule {*/
/*    border-left: solid 1px;*/
/*    border-bottom: solid 1px;*/
/*    display: flex;*/
/*    flex-grow: 1;*/
/*    flex-shrink: 1;*/
/*    padding: 5px 0px;*/
/*}*/

/*.multi-range-slider .ruler .ruler-rule:last-child {*/
/*    border-right: solid 1px;*/
/*}*/

/*.multi-range-slider .label {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding: 0px;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 5px;*/
/*    !* display: none; *!*/
/*}*/
/*.multi-range-slider .price-range {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    letter-spacing: normal;*/
/*    text-transform: none;*/
/*    word-spacing: normal;*/
/*}*/
/*.multi-range-slider .price-from {*/
/*    align-items: center;*/
/*    flex-direction: row-reverse;*/
/*    width: 120px;*/
/*    background-color: #fff;*/
/*    border: 2px solid #b3bcc5;*/
/*    border-radius: 6px;*/
/*    box-sizing: border-box;*/
/*    color: #001a34;*/
/*    display: flex;*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*    text-overflow: ellipsis;*/
/*    transition: border-color .2s cubic-bezier(.25,.8,.25,1);*/
/*    white-space: nowrap;*/
/*    will-change: transform,border-color,top,background-color;*/
/*}*/
/*.multi-range-slider .price-from .price-from-pinput{*/
/*    align-items: center;*/
/*    flex-direction: row-reverse;*/
/*    display: flex;*/
/*    flex: 1;*/
/*    max-width: 100%;*/
/*    position: relative;*/

/*}*/
/*.multi-range-slider .price-from p{*/
/*    padding-left: 6px;*/
/*    color: #707f8d;*/
/*    font-size: 14px;*/
/*    line-height: 1.29;*/
/*    font-family: GTEestiPro,arial,sans-serif;*/
/*    margin: 0;*/

/*}*/
/*.multi-range-slider .price-from input{*/
/*    font-size: 14px;*/
/*    line-height: 18px;*/
/*    padding: 5px 6px 5px 4px;*/
/*    min-width: 0;*/
/*    text-align: inherit;*/
/*    vertical-align: top;*/
/*    width: 100%;*/
/*    margin: 0;*/
/*    outline: none;*/
/*    -webkit-text-fill-color: #001a34;*/
/*    background-color: hsla(0,0%,100%,0);*/
/*    border: 0;*/
/*    box-sizing: border-box;*/
/*    caret-color: #005bff;*/
/*    color: inherit;*/
/*    font-family: GTEestiPro,arial,sans-serif;*/

/*}*/
/*.multi-range-slider .price-to {*/

/*}*/
/*.multi-range-slider .price-to p{*/

/*}*/
/*.multi-range-slider .price-to input{*/

/*}*/
/*.multi-range-slider .label-min {*/
/*    font-size: 80%;*/
/*}*/
/*.multi-range-slider .label-max {*/
/*    font-size: 80%;*/
/*}*/